@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/* @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css"); */


.tab-section {
    width: 900px;
    height: 450px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.conveytabs {
    min-width: 320px;
    max-width: 1024px;
    padding: 35px;
    margin: 0 auto;
    background: #fff;
}

.conveytabs section {
  display: none;
  padding: 15px 0 0;
  border-top: 3px solid #b6d7e7;
  margin-top: 10px;
  margin-bottom: 30px;
}
.conveytabs h2 {
	color:#90D1F1;
    text-align: left;
}
.conveytabs section p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 10px 0;
    text-align: left;
}
.conveytabs section img{
	 width:100%;
	 height:auto;
 }
 .conveytabs section ifram{
		width:100%;
		height:auto; 
 }
 
.conveytabs input {
  display: none;
}

.conveytabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #90D1F1;
  border: 0.5px solid transparent;
}

.conveytabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.emoji {
  font-size: 25px;
}

/* .conveytabs label[for*='1']:before {
  content: '\f19d';
  color: black;
}

.conveytabs label[for*='2']:before {
  content: '\f007';
  color: black;
}

.conveytabs label[for*='3']:before {
  content: '\f091';
  color: black;
}

.conveytabs label[for*='4']:before {
  content: '\f0d0';
  color: black;
} */


.conveytabs label:hover {
  color: #c6b0cb;
  cursor: pointer;
}

.conveytabs input:checked + label {
  color: #90D1F1;
  border: 1px solid #90D1F1;
  border-top: 2px solid 8e44ad;
  border-bottom: 1px solid #90D1F1;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3, 
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  .conveytabs label {
    font-size: 0;
  }

  .conveytabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .conveytabs label {
    padding: 15px;
  }
}

