.home-div h1 {
    margin-top: 35px;
}

.gov-heading_custom {
    padding-top: 35px;
}

.h2 {
    padding-top: 40px;
}

form label {
    padding-top: 15px;
}

form {
    padding-bottom: 40px;
}

.results {
    padding-bottom: 120px;
}