* {
    margin: 0;
    box-sizing: border-box; 
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #f7fdff;
    overflow-x: hidden;
    min-height: 100vh; 
  margin: 0; 
  display: grid;
  grid-template-rows: auto 1fr auto;
}
